<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ETicaret</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/jsp/Kullanici/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/musterilogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sepet</servlet-name>
    <jsp-file>/jsp/Kullanici/sepet.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sepet</servlet-name>
    <url-pattern>/sepet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Urundetay</servlet-name>
    <jsp-file>/jsp/Kullanici/urundetay.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Urundetay</servlet-name>
    <url-pattern>/urundetay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/jsp/Kullanici/SignUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/musterikayit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <jsp-file>/jsp/Admin/AdminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>urunekle</servlet-name>
    <jsp-file>/jsp/Admin/urun.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>urunekle</servlet-name>
    <url-pattern>/urun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/jsp/Kullanici/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>kargoekle</servlet-name>
    <jsp-file>/jsp/Admin/kargo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>kargoekle</servlet-name>
    <url-pattern>/kargo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eklekategori</servlet-name>
    <jsp-file>/jsp/Admin/kategori.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>eklekategori</servlet-name>
    <url-pattern>/kategori</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Siparis</servlet-name>
    <jsp-file>/jsp/Admin/siparis.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Siparis</servlet-name>
    <url-pattern>/siparis</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Adminİndex</servlet-name>
    <jsp-file>/jsp/Admin/navbar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminİndex</servlet-name>
    <url-pattern>/Adminindex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Baslangic</servlet-name>
    <jsp-file>/jsp/Admin/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Baslangic</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>